
{% extends 'fredslist/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block content %}
{#    <div class="nav_bar1">#}
{#        <a href="{% url 'home' %}"><H3>Fredslist</H3></a>#}
{#        <a href="{% url 'home_page' %}" class="inline account"><p>account</p></a>#}
{#        <a href="{% url 'post_create' %}" class="inline"><p>post</p></a>#}
{#    </div>#}
    {% include 'fredslist/navbar.html' %}
    <h2 class="text-center login_title">All posts</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <ul class="search_filters">
                <li>search titles only</li>
                <li>has image</li>
                <li>posted today</li>
                <li>search nearby areas</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-10">
            <form class="form-inline" role="form" method="post" action="{% url 'post_search' %}" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Search Posts</label>
                    <input type="text" class="form-control" id="text" name="search_field">
                    <input type="submit" value="Search" name="submit" class="btn btn-primary">
                </div>
            </form>

            <ul class="nav nav-tabs">
              <li role="presentation" class="active" id="list"><a href="#">List</a></li>
              <li role="presentation" id="thumb"><a href="#" >Thumb</a></li>
              <li role="presentation"><a href="#" id="gallery">Gallery</a></li>
            </ul>

            <div class="thumb_list_view">
             {% for post in post_list %}
                  {% for post in post.post_images %}
                      <img src="{{ post.image.url }}" class="post_image thumb" >
                  {% endfor %}
                 <a href="{% url 'create_favorite' post.id %}"><i class="fa fa-star inline"></i></a>
                 <p class="inline created_at">{{ post.created_at }}</p>
                 <a href="{% url 'post_detail' post.id %}" ><h4 class="category_column inline post_title">{{ post.posting_title }}</h4></a>
                 <p class="inline">- {{ post.specific_location }}</p>
                 <br>
                 {% for favorite in favorites %}
                     {% if post.id == favorite.post.id %}
                        <style>
                        .fa-star{
                            color:#551A8B;
                        }
                        </style>
                     {% endif %}
                 {% endfor %}
             {% endfor %}
            </div>

{#            <div class="gallery_view container-fluid">#}
{#                {% for post in post_list %}#}
{#                    {% for post in post.post_images %}#}
{##}
{#                        <div class="row">#}
{#                            <div class="col-xs-12 col-sm-4">#}
{#                                <div class="gallery_img container-fluid">#}
{#                                    <img src="{{ post.image.url }}" class="post_image thumb" >#}
{#                                    <a href="{% url 'post_detail' post.id %}" ><h4 class="category_column inline post_title">{{ post.posting_title }}</h4></a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{##}
{#            </div>#}
        </div>
    </div>
{% endblock %}
























